#container{
  width: 520px;
  height: 255px;
  font-family: "Arial";
  position:relative;
  overflow-x:auto;
}
#timeList{
  width:  120px;
  height: 230px;
  margin-left:310px;
  overflow-y:auto;
  padding-top:5px;
}
#timeOut{
  font-size: 5em;
  width: 310px;
  height: 90px;
  position:absolute;
}
#stats{
  width:310px;
  height:138px;
  position: absolute;
  top:110px;
}
